.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}



/* responsive version < 420px  */
@media all and (max-width: 419px) {
  
  .row {
    width: 100%;
    margin-top: 50px;
  }
  
  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
  }
  
  #lezioni .row>.right {
    margin-top: 20px;
  }
  
  
  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin-top: 50px;
  }
  
  
  /* BLOCCO PERCHE */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 40px;
  }
  
  #why .row img {
    padding: 15px;
  }
  
  
  /* COMMON */  
  h1 {
    font-size: 34px;
    padding-top: 10px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  img {
    height: 150px;
  }
  
}

/* tablet version  */
@media all and (min-width: 421px) and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row {
    width: 100%;
    margin-top: 0;
  }

  .container {
    padding: 40px 0;
  }


   /* BLOCCO LEZIONI */
   .container.lightgrey {
     background-color: lightgray;
   }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin-top: 25px;
  }
  
  /* BLOCCO STEPS */
  .container.grey.khaki {
    background-color:khaki;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    padding: 25px;
  }

  #steps img {
    height: 100px;
  }

  /* BLOCCO PERCHE */
  .container.grey.moccasin {
    background-color: moccasin;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 55px;
  }
  
  #why .row img {
    background-color:lightsalmon;
    border-radius: 35%;
    padding: 20px;
    margin-bottom: 10px;
  }

  hr {
    font-weight: bold;
    color: rgb(218, 118, 79); 
    margin-top: 10px;
  }
  
}
